.container{

    background-color: #f9f7f6;

}
.jumbotron{

    background-color: #fff5eb;
    border-radius: 2%;
}
.bg-sobre{
    background-color: #fff5eb
    ;
    }

#img-bg{
    background-image: url('https://i.imgur.com/zSiiTV8.jpg');
    min-height: 969px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.team {
    background: rgb(235, 228, 228);
    padding-bottom: 10px;
  }
  .team .member {
    margin-bottom: 10px;
    overflow: hidden;
  }
  .team .member .member-img {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    max-height: 380px;
    border-radius: 10%;
  }
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: -40px;
    right: 0;
    height: 80px;
    opacity: 0;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
    background: #ffdea3
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .team .member .social a {
    transition: color 0.3s;
    color: rgb(10, 10, 10);
    margin: 0 5px;
    display: inline-block;
  }
  .team .member .social a:hover {
    color: #68A4C4;
  }
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  .team .member .member-info h4 {
    font-weight: 700;
    margin: 15px 0 5px 0;
    font-size: 18px;
  }
  .team .member .member-info span {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
    color: #68A4C4;
  }
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #666;
  }
  .team .member:hover .social {
    bottom: 0;
    opacity: 1;
    transition: bottom ease-in-out 0.4s;
  }
  .team .member:hover .social a, .team .member:hover .social i {
    line-height: 0;
    font-size: 45px;
  }

.gap-sobre{

    gap: 12px;

}

.btn-entrar {
    border-radius: 10px;
    border: 1px solid #fad54e;
}

.btn-entrar:hover {
    border-radius: 10px;
    background-color: rgb(238, 237, 237) !important;
    border: 1px solid #fad54e;
}

.btn-cadastrar{
    border-radius: 10px;
    background-color: #b11f20;
    color: white !important;
}

.btn-cadastrar:hover {
    border-radius: 10px;
    background-color: #fad54e;
    color: black !important;
}

.fa-twitter-square:hover{
    color: #00acee;
    
  }
  
  .fa-github-square:hover{
    color: #171515;
  }
  
  .fa-linkedin-square:hover{
    color: #0072b1;
  }
  
  /* Texo animado*/

  body,html{margin:0;padding:0;height:500%;}
body{
  background-color: #f9f7f6;
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
}


section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}


.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffdea3;
}
.about .content p:last-child {
  margin-bottom: 0;
}


.why-us {
  padding-top: 10px;
}
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}
.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #0f0f0f;
}
.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #191919;
}
.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.why-us .box:hover {
  background: #ffdea3;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: rgb(15, 14, 14);
}

.services .icon-box {
  text-align: center;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #111111;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.services .icon-box .icon i {
  color: rgb(20, 20, 20);
  font-size: 28px;
}
.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #fce5e5;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #191919;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  background: #ffdea3;
  border-color: #ffdea3;
  padding: 70px 20px 90px 20px;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #0a0a0a;
}
.services .icon-box:hover .icon::before {
  background: #0c0c0c;
}
.services .icon-box:hover h4 a, .services .icon-box:hover p {
  color: rgb(22, 21, 21);
}

.clients {
  background: #f2f2f2;
  padding: 15px 0;
  text-align: center;
}
.clients img {
  width: 100%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

.section-title .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.section-titl .icon-box h4 a {
  color: #070707;
}

#hero {
  width: 100%;
  height: calc(100vh - 110px);
  background: url("https://i.imgur.com/VMh1BGZ.png") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(8, 8, 8, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: white;
  position: absolute;

  

}
#hero h2 {
  color: rgb(250, 245, 245);
  margin-bottom: 30px;
  font-size: 24px;
  position: absolute;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    text-align: center;
  }
  #hero .container {
    padding-top: 40px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


.bg-home{
  height: 100vh;
  background-image: url("https://i.imgur.com/VMh1BGZ.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.navColor {
background-color: white;
margin-top: -10px;
padding: 15px;
background: rgba(255, 255, 255, 0.645);
border-radius: 15px;
}

.btn-entrar {
margin-top: -10px;
border-radius: 10px;
border: 1px solid #000000;
}

.btn-entrar:hover {
margin-top: -10px;
border-radius: 10px;
background-color: #ffdea3 !important;
border: 1px solid #211e16;
}

.btn-sobre {
  margin-top: -10px;
  border-radius: 10px;
  border: 1px solid #ffdea3;
}

.btn-sobre:hover {
  margin-top: -10px;
  border-radius: 10px;
  background-color: rgb(238, 237, 237) !important;
  border: 1px solid #ffdea3;
}

.btn-cadastrar{
  margin-top: -10px;
  border-radius: 10px;
  background-color: #211e16;
  color: white !important;
}

.btn-cadastrar:hover {
  margin-top: -10px;
  border-radius: 10px;
  background-color: #ffdea3;
  color: black !important;
}

.gap-home{
   gap: 12px;
}

.divChamada {
  height: 75vh;
}

.texto {
  font-size: 1.2rem
}

.caixaHome {
background-color: white;
background: rgba(255, 255, 255, 0.638);
border-radius: 15px;
width: 70vh;
}

h1 {
  font-size: 120px;
  font-weight: 900;
  margin-bottom: -15px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
}

p {
  padding: 10px;
  font-size: 19px;
  font-weight: 500;
}

/*Sobre*/

footer {
  background-color: #211e16;
  display: flex;
  flex-direction: row;
  color: white;
}

h4 {
  color: #ffdea3;
}

#um {
  background-color: #211e16;
  flex: 1;
  margin: 15px 0 0 0px;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icones {
  display: flex;
  flex-direction: row;
  font-size: 70px;
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#dois {
  background-color: #211e16;
  flex: 1;
  margin: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tres {
  background-color: #211e16;
  flex: 1;
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#e-mail {
  width: 100%;
}
#assunto {
  width: 100%;
  margin-bottom: 15px;
}

form {
  width: 75%;
}

.botaoEnviar {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.botaoEnviar:hover {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #ffdea3 !important;
  border: 1px solid #211e16;
}

.assinatura {
  background-color: #211e16;
  color: #ffdea3;
}

hr {
  width: 20%;
  border: 1px solid white;
  color: white;
}

a {
  color: white !important;
  cursor: pointer;
}

.margemNegativa5 {
  margin-bottom: -5px;
}










































































