<body>

    <div class="container-fluid  bg-sobre">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#" routerLink="/home">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto gap-sobre">
            <li class="nav-item ">
              <button class="btn-entrar btn" routerLink="/entrar">Entrar</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-cadastrar" routerLink="/cadastrar">Cadastrar</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
  
    <header id="header" class="fixed-top d-flex align-items-center ">
      <div class="container d-flex justify-content-between align-items-center">
  
        <div class="logo">
  
        </div>
  
  
      </div>
      <br>
    </header>

    <br>
    <div class="jumbotron">
      <h1 class="display-4">Sobre nosso projeto!</h1>
      <p class="lead">Assegurar o bem estar e uma vida saudável para pessoas em situação de vulnerabilidade não é fácil, mas necessário.</p>
      <hr class="my-4">
      <p>Por isso, a LiveFree precisa da sua ajuda! Conheça nosso projeto e participe dessa joranada conosco!<p>
    </div>
    <br> <h2>Conheça nossos Desenvolvedores:</h2> <br>
   
    <main id="main">
  
      <section class="breadcrumbs">
        <div class="container">

        </div>
      </section>
      <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/YUkxumb.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Caique Ramos</h4>
                  <span>Desenvolvedor</span>
                  <p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis
                    aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis repudiandae perferendis qui. Neque non
                    quidem sit sed pariatur quia modi ea occaecati. Incidunt ea non est corporis in.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/YUkxumb.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Samuel Santos</h4>
                  <span>Desenvolvedor</span>
                  <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel
                    amet voluptatem eos rerum non doloremque. Dolores eum non.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/zSiiTV8.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Guilherme Petry</h4>
                  <span>Desenvolvedor</span>
                  <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero.
                    Maxime sit sunt quo dolor autem est qui quaerat aliquid. Tenetur possimus qui enim.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/zSiiTV8.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Raiza de Paula</h4>
                  <span>Product Manager</span>
                  <p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore
                    assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione
                    ea.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/zSiiTV8.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Marco Alexandre</h4>
                  <span>Desenvolvedor</span>
                  <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis
                    impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur
                    voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto
                    consequatur quo praesentium nesciunt.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img src="https://i.imgur.com/zSiiTV8.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="icoGithub">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
  
                    <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Thiago Santos</h4>
                  <span>Desenvolvedor</span>
                  <p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto
                    distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem.
                    Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla
                    omnis.</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
  
    </main>
  
  </body>
  <app-rodape></app-rodape>
