  <div class="container-fluid  bg-home">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
       <a class="navbar-brand navColor" href="#"><img src="../../assets/logoLiveFree.png" height="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto gap-home">
          <li class="nav-item ">
            <button class="btn-sobre btn" routerLink="/sobre">Sobre</button>
          </li>
          <li class="nav-item ">
            <button class="btn-entrar btn" routerLink="/entrar">Entrar</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-cadastrar" routerLink="/cadastrar">Cadastrar</button>
          </li>
        </ul>
      </div>
    </nav>

  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

      <h2>Assegurar o bem estar e uma vida saudável para pessoas em situação de vulnerabilidade não é fácil, mas
        necessário. Por isso, a LiveFree precisa da sua ajuda! Conheça nosso projeto e participe dessa joranada conosco!
      </h2>

    </div>
  </section>


  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up">
          <div class="box">
            <span>01</span>
            <h4>Missão</h4>
            <p>Não deixar ninguém para trás, com saúde integral e desenvolvimento comunitário sustentável, de forma
              remota, a partir de profissionais capacitados e da Rede Pública no Brasil.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
          <div class="box">
            <span>02</span>
            <h4>Visão</h4>
            <p>Sermos referência até 2025 na promoção de Projeto de Vida e Desenvolvimento Comunitário Sustentável a
              partir de plataformas oline e Rede Pública no Estado de São Paulo.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <span>03</span>
            <h4>Valores</h4>
            <p>Promover a Dignidade, Autonomia e Diversidade, Atuação em Rede e Colaboração permanente Desenvolvimento
              Comunitário Sustentável Cidadania Ativa Não deixar ninguém para trás Praticar Liderança Servidora.</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <div class="row d-flex align-items-center">

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/k4fn24k.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/Kk0wRxD.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/2MzA3SW.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/8hcLyh7.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/rrKhLxS.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="https://i.imgur.com/ZBHmbUN.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section>

  <div class="section-title">
    <span>Serviços</span>
    <h2>Serviços</h2>
    <p>Conheça nossos serviços disponibilizados na plataforma.</p>
  </div>

  <section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4>Terapia</h4>
            <p>Terapia é como popularmente chamamos a psicoterapia psico (mente) + terapia (curar). A psicoterapia
              consiste em um conjunto de práticas terapêuticas entre um paciente e psicólogo com a intenção de diminuir
              sofrimentos, interpretar os eventos e acontecimentos da vida de uma pessoa.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4>Assistência Social</h4>
            <p>Seu objetivo é garantir a proteção social aos cidadãos, ou seja, apoio a indivíduos, famílias e à
              comunidade no enfrentamento de suas dificuldades, por meio de serviços, benefícios, programas e projetos.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4>Prevenção as Drogas</h4>
            <p>Saiba dizer “não” O primeiro cuidado que uma pessoa deve ter para se manter distante do consumo de drogas
              é saber recusar seu consumo, sem se preocupar com o julgamento de outras pessoas</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4>Farmácia</h4>
            <p>parte da farmacologia que trata das propriedades químicas de substâncias e suas respectivas
              classificações, visando ao preparo e conservação dos medicamentos; farmacêutica.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4>Psicologia</h4>
            <p>ciência que trata dos estados e processos mentais, do comportamento do ser humano e de suas interações
              com um ambiente físico e social.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4>Coach</h4>
            <p>A palavra vem do inglês. Coach é treinador, instrutor, enquanto o verbo to coach significa treinar,
              preparar, instruir. Consequentemente, coaching significa o processo em que um profissional orienta o
              treinamento e instrução de uma pessoa</p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <div class="section-title">
    <span>Desenvolvedores</span>
    <h2>Desenvolvedores</h2>
    <p>Conheça nossos Desenvolvedores</p>
  </div>

  <main id="main">

    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/98482533?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Caique Ramos</h4>
                <span>Desenvolvedor</span>
                <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel
                  amet voluptatem eos rerum non doloremque. Dolores eum non.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/84543029?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Samuel Santos</h4>
                <span>Desenvolvedor</span>
                <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel
                  amet voluptatem eos rerum non doloremque. Dolores eum non.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/44437770?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Guilherme Petry</h4>
                <span>Desenvolvedor</span>
                <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero.
                  Maxime sit sunt quo dolor autem est qui quaerat aliquid. Tenetur possimus qui enim.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/87617076?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Raiza de Paula</h4>
                <span>Product Manager</span>
                <p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore
                  assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione
                  ea.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/96946666?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Marco Alexandre</h4>
                <span>Desenvolvedor</span>
                <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis
                  impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur
                  voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto
                  consequatur quo praesentium nesciunt.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/8996967?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="member-info">
                <h4>Thiago Faccipieri</h4>
                <span>Desenvolvedor</span>
                <p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto
                  distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem.
                  Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla
                  omnis.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main>
<app-rodape></app-rodape>