#img-bg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/78/V%C3%A3o_Livre_do_MASP_03.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caixaCadastrar {
  padding: 20px;
  background-color: white;
  background: rgba(255, 255, 255, 0.877);
  border-radius: 15px;
  width: 70vh;
}

.btn-voltar {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.btn-voltar:hover {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffdea3 !important;
  border: 1px solid #211e16;
}

.btn-cadastrar {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #211e16;
  color: white !important;
}

.btn-cadastrar:hover {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffdea3;
  color: black !important;
}

h1 {
  font-weight: 473;
}

.form {
  padding: 50px 15px 0 15px;
}

.h-100 {
  min-height: 100vh;
}

.link {

  color: black;
}

p {
  color: rgb(55, 55, 55);
}
