/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

html
{
  scroll-behavior: smooth;
}

.fs-54{
  font-size: 54pt;
}

.fs-18{
font-size: 18pt;
}

.custon-amarelinho {
  padding: 3px !important;
  width: 120px !important;
  border: solid 1px #ffdea3 !important;
  border-radius: 10px !important;
  color: #211e16 !important;
}

.custon-amarelinho:hover {
  padding: 3px !important;
  width: 120px !important;
  border: solid 1px #ffdea3 !important;
  border-radius: 10px !important;
  background-color: lightgray !important;
  color: black !important;
}

.custon-outline {
  padding: 3px !important;
  width: 120px !important;
  border: solid 1px #211e16 !important;
  border-radius: 10px !important;
  background-color: white !important;
  color: #211e16 !important;
}

.custon-outline:hover {
  padding: 3px !important;
  width: 120px !important;
  border: solid 1px #ffdea3 !important;
  border-radius: 10px !important;
  background-color: #ffdea3 !important;
  color: black !important;
}

.custon-dark {
  padding: 3px !important;
  width: 120px !important;
  border: solid 1px #211e16 !important;
  border-radius: 10px !important;
  background-color: #211e16 !important;
  color: white !important;
}

.custon-dark:hover {
  padding: 3px !important;
  width: 120px !important;
  border: 0 !important;
  border-radius: 10px !important;
  border: solid 1px #ffdea3 !important;
  background-color: #ffdea3 !important;
  color: black !important;
}

/* Rodapé */

.iconsRodape {
  color: white;
  height: 50px;
}