<div class="container-fluid  bg-home">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
     <a class="navbar-brand navColor" href="#"><img src="../../assets/logoLiveFree.png" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto gap-home">
        <li class="nav-item ">
          <button class="btn-sobre btn" routerLink="/sobre">Sobre</button>
        </li>
        <li class="nav-item ">
          <button class="btn-entrar btn" routerLink="/entrar">Entrar</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-cadastrar" routerLink="/cadastrar">Cadastrar</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex justify-content-center align-items-center divChamada">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="caixaHome">
          <div class="chamada">
            <h1>LiveFree</h1>
            <h2>Saúde para quem mais precisa.</h2>
        
            <p>Precisa de ajuda mas ainda não pode pagar?
            <br>Conecte-se com profissionais de saúde que fornecem <br> atendimento humnitário, a baixos, ou nenhum custo.
            <br>Uma sociedade forte exige cidadãos saudáveis. <br> Faça a diferença. Conheça nossos profissionais:</p>
            <div class=" d-flex justify-content-center">
              <button class="btn btn-cadastrar" href="#" routerLink="/cadastrar">Cadastre-se!</button>
            </div>
            <p class="saibaMais">ou <a class="saibaMaisLink" href="#sobre" routerLink="/sobre">saiba mais!</a></p>
          </div>
        </div>   
    </div>
  </div>
</div>

