

.bg-home{
    height: 100vh;
    background-image: url("https://i.imgur.com/OqL19K1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.btn-entrar {
    border-radius: 10px;
    border: 1px solid #fad54e;
}

.btn-entrar:hover {
    border-radius: 10px;
    background-color: rgb(238, 237, 237) !important;
    border: 1px solid #fad54e;
}

.btn-cadastrar{
    border-radius: 10px;
    background-color: #b11f20;
    color: white !important;
}

.btn-cadastrar:hover {
    border-radius: 10px;
    background-color: #fad54e;
    color: black !important;
}

.gap-home{
     gap: 12px;
}

.divChamada {
    height: 75vh;
}

.texto {
    font-size: 1.2rem
}

h1 {
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: -15px;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }