

.bg-home{
    height: 100vh;
    background-image: url("../../assets/home1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.navColor {
  background-color: white;
  margin-top: -10px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.645);
  border-radius: 15px;
}

.btn-entrar {
  margin-top: -10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.btn-entrar:hover {
  margin-top: -10px;
  border-radius: 10px;
  background-color: #ffdea3 !important;
  border: 1px solid #211e16;
}

.btn-sobre {
    margin-top: -10px;
    border-radius: 10px;
    border: 1px solid #ffdea3;
}

.btn-sobre:hover {
    margin-top: -10px;
    border-radius: 10px;
    background-color: rgb(238, 237, 237) !important;
    border: 1px solid #ffdea3;
}

.btn-cadastrar{
    margin-top: -10px;
    border-radius: 10px;
    background-color: #211e16;
    color: white !important;
}

.btn-cadastrar:hover {
    margin-top: -10px;
    border-radius: 10px;
    background-color: #ffdea3;
    color: black !important;
}

.gap-home{
     gap: 12px;
}

.divChamada {
    height: 75vh;
}

.texto {
    font-size: 1.2rem
}

.caixaHome {
  background-color: white;
  background: rgba(255, 255, 255, 0.638);
  border-radius: 15px;
  width: 70vh;
}

h1 {
    font-size: 120px;
    font-weight: 900;
    margin-bottom: -15px;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  p {
    padding: 10px;
    font-size: 19px;
    font-weight: 500;
  }

.saibaMais {
    font-size: 15px;
    font-style: italic;
    color: gray;
}

.saibaMaisLink {
    font-size: 15px;
    font-style: italic;
    color: #211e16;
}